<h1>Name: <%=@lender.fname%> <%=@lender.lname%></h1>
<h1>Account Balance: <%=@lender.balance%></h1>

<p>List of people in need of help:</p>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Need Money For</th>
			<th>Reason for Loan</th>
			<th>Amount Needed</th>
			<th>Amount Raised</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
	</tbody>
</table>

